@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,1000&family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(70%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container video{
  width: 100vw;
  height: auto;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  animation: slideRight .75s;
}

.log-reg-box{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 60%);
  height: 100%;
  animation: slideLeft .75s;
}

.logo{
  margin-left: -60px;
  width: 50%;
}

.welcome-text{
  margin-top: -100px;
}

.welcome-text h2{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color: #FAF1E4;
  cursor: default;
  text-shadow: 3px 6px 10px rgba(0,0,0, 0.5);
}

.welcome-text h2 span{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: #FAF1E4;
  cursor: default;
  text-shadow: 3px 6px 10px rgba(0,0,0, 0.5);
}

.welcome-text p{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-size: 20px;
  color: #FAF1E4;
  cursor: default;
  text-shadow: 3px 6px 10px rgba(0,0,0, 0.5);
}

.form-box{
  position: absolute;
  display: flex;
  justify-content:  center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(67, 83, 52, 0.75);
  backdrop-filter: blur(10px);
  color: #FAF1E4;
  font-family: 'Poppins', sans-serif;
}

.log-reg-box .form-box.login{
  transform: translateX(0);
  transition: transform .75s ease;
  transition-delay: 0s;
  z-index: 1;
}

.log-reg-box.active .form-box.login{
  transform: translateX(650px);
  z-index: -1;
}

.log-reg-box .form-box.register{
  transform: translateX(650px);
  transition: transform .75s ease;
  transition-delay: 0s;
  z-index: -1;
}

.log-reg-box.active .form-box.register{
  transform: translateX(0);
  z-index: 1;
}

.form-box h2{
  font-size: 64px;
  text-align: center;
  cursor: default;
}

.form-box h4{
  text-align: center;
  cursor: default;
  color: #4E9F3D;
}

.input-box{
  position: relative;
  width: 500px;
  height: 50px;
  border-bottom: 2px solid #FAF1E4;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #FAF1E4;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding-right: 28px;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-5%);
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s ease;
  cursor: default;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -4.5px;
}

.icon{
  position: absolute;
  top: 13px;
  right: 0;
}

.remember-forgot{
  font-size: 14.5px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: #FAF1E4;
  margin-right: 3px;
}

.remember-forgot a{
  color: #FAF1E4;
  font-weight: 600;
  text-decoration: none;
  transition: text-decoration .25s;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #435334;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #FAF1E4;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}

.login-register{
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
  cursor: default;
}

.login-register a{
  font-weight: 600;
  color: #FAF1E4;
  text-decoration: none;
  transition: text-decoration .25s;
}

.login-register a:hover{
  text-decoration: underline;
}

@media (max-width: 1500px){
  .content {
    display: none;
  }
  
  .container video{
    width: 500vw;
  }

  .log-reg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 954px){
  .content {
    display: none;
  }

  .container video{
    width: 500vw;
  }

  .log-reg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 640px){
  .content {
    display: none;
  }

  .container video{
    width: 500vw;
  }
  .log-reg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .form-box h2{
    font-size: 32px;
  }

  .input-box{
    position: relative;
    width: 250px;
    height: 50px;
    border-bottom: 2px solid #FAF1E4;
    margin: 30px 0;
  }

}

@media (max-width: 370px){
  .content {
    display: none;
  }

  .container video{
    width: 500vw;
  }
  .log-reg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .form-box h2{
    font-size: 32px;
  }

  .input-box{
    position: relative;
    width: 250px;
    height: 50px;
    border-bottom: 2px solid #FAF1E4;
    margin: 30px 0;
  }

}