@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,1000&family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(70%);
  } 
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

:root
{
  --dark-lime-green: #285430;
  --light-lime-green: #5F8D4E;
  --light-green: #4E9F3D;
  --light-beige: #E5D9B6;
  --gray: #333;
  --black: #191A19;
  --brown: #331800;
  --white: #fff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  background: var(--light-beige);
}

section {
  padding: 2rem 9%;
}




/* STYLE FOR HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: var(--dark-lime-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
  animation: slideDown 1.5s;
}

.header .logo {
  font-weight: bolder;
  color: var(--light-beige);
  font-size: 2.5rem;
}

.header .logo span {
  color: var(--light-green);
}

.header .navbar a {
  font-size: 1.7rem;
  color: #FAF1E4;
  margin-left: 2rem;
  transition: color .25s;
}

.header .navbar a:hover {
  color: #9EB384;
}

#menu-bar {
  font-size: 3rem;
  color: var(--light-beige);
  cursor: pointer;
  display: none;
}

/* STYLE FOR HOME (CONTENT) */

.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
  animation: slideDown 3.5s;
  cursor: default;
}

.home .content h3 {
  color: var(--black);
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--dark-lime-green);
  text-transform: uppercase;
}

/* STYLE FOR BUTTONS */

.book-btn, .r-btn, .sub-btn {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: .5rem;
  padding: .8rem 3rem;
  color: var(--light-beige);
  background: var(--dark-lime-green);
  display: inline-block;
  animation: transitionIn 5.5s;
}

.book-btn:hover,
.r-btn:hover, .sub-btn:hover {
  background: var(--light-lime-green);
}

/* ======================== */

.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 1rem;
  height: 50rem;
  width: 35rem;
}

.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* STYLE FOR HEADING EACH SECTION */

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--black);
  text-transform: uppercase;
  font-size: 4rem;
  cursor: default;
}

.heading span {
  color: var(--light-lime-green);
  text-transform: uppercase;
  cursor: default;
}

/* STYLE FOR SERVICE SECTION */

.service .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.service .box-container .box {
  border-radius: 0.5rem;
  background: var(--dark-lime-green);
  text-align: center;
  padding: 2.5rem;
}

.service .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background: var(--theme-color);
  color: #fff;
}

.service .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}

.service .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  line-height: 1.8;
}

/* STYLE FOR ABOUT SECTION */

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}

.about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 1rem solid var(--dark-lime-green);
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  cursor: default;
}

.about .row .content p {
  font-size: 1.5rem;
  color: var(--brown);
  padding: 1rem 0;
  line-height: 2;
  cursor: default;
}

/* STYLE FOR GALLERY SECTION */

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  position: relative;
  border: 1rem solid var(--black);
  border-radius: 0.5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  transform: scale(1.1);
  filter: grayscale();
}

.gallery .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: var(--dark-lime-green);
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title {
  top: 0;
}

.gallery .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: var(--black);
  padding-top: 1rem;
  text-align: center;
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  color: #fff;
}

.gallery .box-container .box .icons a:hover {
  color: var(--dark-lime-green);
}

/* STYLE FOR REVIEW SECTION */

.review .box {
  border-radius: 0.5rem;
  background: var(--black);
  padding: 2rem;
  position: relative;
}

.review .box .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--light-beige);
  font-size: 5rem;
}

.review .box .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.review .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box .user h3 {
  font-size: 2rem;
  color: #fff;
}

.review .box .user span {
  font-size: 1.5rem;
  color: #eee;
}

.review .box p {
  line-height: 2;
  color: #eee;
  padding: 0.5rem 0;
  font-size: 1.6rem;
}

/* STYLE FOR CONTACT FORM */

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  width: 100%;
  background: var(--black);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.7rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
  color: #eee;
  text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
  background: #444;
}

.contact form .inputBox input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

/* STYLE FOR FOOTER */

.footer {
  background: var(--black);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #FAF1E4;
  cursor: default;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #FAF1E4;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--theme-color);
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
  color: #FAF1E4;
}

.footer .credit {
  cursor: default;
  text-align: center;
  border-top: 0.1rem solid #222;
  color: #FAF1E4;
  padding: 2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--theme-color);
}

html::-webkit-scrollbar {
  width: .5rem;
}

html::-webkit-scrollbar-track {
  background: #CEDEBD;
}

html::-webkit-scrollbar-thumb {
  background: #9EB384;
}

/* STYLE FOR TOGGLE BUTTON */

.theme-toggler {
  position: fixed;
  top: 10rem;
  right: -20rem;
  background: var(--black);
  z-index: 1000;
  width: 20rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
}

.theme-toggler.active {
  right: 0;
}

.theme-toggler h3 {
  color: #fff;
  padding: 1rem 0;
  font-size: 2rem;
  cursor: default;
}

.theme-toggler .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.theme-toggler .buttons .theme-btn {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.theme-toggler .toggle-btn {
  position: absolute;
  top: 0;
  left: -5.9rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1.3rem 1.5rem;
  background: var(--dark-lime-green);
  cursor: pointer;
}

.theme-toggler .toggle-btn i {
  color: var(--white);
  font-size: 3rem;
  animation: spin 4s linear infinite;
}

/* ANIMATION FOR TOGGLE BUTTON */

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }

  .home .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-slide {
    width: 27rem;
  }

  .contact form .inputBox input {
    width: 100%;
  }
}

.booking-container{
  position: fixed;
  top: 10.5%;
  left: 17.7%;
  width: 1000px;
  background-color: #191A19;
  border-radius: 15px;
  z-index: 100;
  display: none;
}

.booking-container h1{
  text-align: center;
  font-size: 2.5em;
  color: #FAF1E4;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default;
}

.close-booking{
  position: absolute;
  background: #1E5128;
  color: #FAF1E4;
  cursor: default;
  width: 45px;
  height: 45px;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 5px;
  border-top-right-radius: 15px;
}

.close-booking:hover{
  background: rgba(30, 81, 40, 0.80);
}

.event-form{
  background: #1E5128;
  position: relative;
  border-radius: 15px;
}

.event-form label{
  margin-left: 10px;
  font-size: 2em;
  color: #FAF1E4;
  display: block;
  cursor: default;
}

.event-form select,
.event-form input {
  width: 98%;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.openPayment {
  background-color: #4E9F3D;
  color: #FAF1E4;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.openPayment:hover {
  background-color: rgba(78, 159, 61, 0.55);
}
.table-fixed {
  width: 100%;
}

.table-fixed thead,
.table-fixed thead>th {
  background: #4E9F3D;
  color: #FAF1E4;
}

.table-fixed tbody tr td {
  color: #FAF1E4;
  background: #1E5128;
  border-right: 2px solid #191A19;
}

.table-fixed>thead>tr>th {
  border: 0 !important;
}

.table-fixed>tbody>tr>td:last-child {
  border-right: 0;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
  float: left;
  font-size: 14px;
  padding-left: 20px !important;
  cursor: default;
  overflow: auto;
}

.table-fixed .col {
  width: 16.667%;
}

.table-fixed tbody {
  display: block;
  height: 195px;
  overflow: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.table-fixed tr {
  display: block;
}

.table-fixed tbody::-webkit-scrollbar {
  width: .5rem;
}

.table-fixed tbody::-webkit-scrollbar-track {
  background: #CEDEBD;
}

.table-fixed tbody::-webkit-scrollbar-thumb {
  background: #9EB384;
}

.payment-container{
  position: fixed;
  top: 25%;
  left: 25.6%;
  width: 750px;
  background-color: #191A19;
  border-radius: 15px;
  z-index: 101;
  display: none;
}

.payment-container h1{
  text-align: center;
  font-size: 2.5em;
  color: #FAF1E4;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default;
}

.payment-close{
  position: absolute;
  background: #1E5128;
  color: #FAF1E4;
  cursor: default;
  width: 45px;
  height: 45px;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 5px;
  border-top-right-radius: 15px;
}

.credit-card-container label{
  margin-left: 10px;
  font-size: 2em;
  color: #FAF1E4;
  display: block;
  cursor: default;
}

.credit-card-container input {
  width: 98%;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.credit-card-container button {
  background-color: #4E9F3D;
  color: #FAF1E4;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.credit-card-container button:hover {
  background-color: rgba(78, 159, 61, 0.55);
}

.paypal-container{
  display: none;
}

.paypal-container label{
  margin-left: 10px;
  font-size: 2em;
  color: #FAF1E4;
  display: block;
  cursor: default;
}

.paypal-container input {
  width: 98%;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.paypal-container button {
  background-color: #4E9F3D;
  color: #FAF1E4;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.paypal-container button:hover {
  background-color: rgba(78, 159, 61, 0.55);
}


.payment-method{
  display: flex;
}

.payment-method button {
  background-color: #4E9F3D;
  color: #FAF1E4;
  padding: 10px;
  border: 1px solid #1E5128;
  cursor: pointer;
  width: 100%;
}

.payment-method button:hover {
  background-color: rgba(78, 159, 61, 0.55);
}


