@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background: #F9E8D9;
    padding: 20px;
    border-radius: 0;
    position: relative;
    border: 1px solid black; 
}

.title{
    font-size: 28px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.3px;
    position: relative;
    text-align: center;
}

.message,
.signin{
    color: #000;
    font-size: 14px;
    text-align: center;
}

.sigin a{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.signin a:hover{
    color: #B8860B;
}

.form-group{
    display: flex;
    width: 100%;
    gap: 6px;

}

.form label{
    position: relative;
}

.form label input{
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: none;
    border: none;
    border-radius: 10px; 
}

.form label input + span{
    position: absolute;
    left: 10px;
    top: 15px;
    color: black;
    font-size: 0.5em;
    cursor: text;
    transition: 0.3s ease;
}

.form label input:placeholder-shown + span{
    top: 15px;
    font-size: 0.5em; 
}

.form label input:focus + span,
.form label input:valid + span{
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
.form label input:valid + span{
    color: #FF0000;
}
.submit{
    border: none;
    outline: none;
    background: #2ecc71;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
    cursor: pointer;
}
.submit:hover {
    background: #786767;
    transition: 0.3s;
}