* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    color: black;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    z-index: 1000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav ul li a::after {
    content: '';
    bottom: -6px;
    left: 0;
    position: absolute;
    background: #2ecc71;
    width: 0;
    height: 2px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #2ecc71;
}

nav ul li a:hover::after {
    width: 100%;
}

.headtext {
    margin-top: 20%;
    font-size: 30px;
    margin-top: 100px;
}

.headtext h1 {
    font-size: 65px;
    /* margin-top: 20px; */
}

#about {
    padding: 80px 0;
    color: #000000;
    background-color: #527853;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1 {
    flex-basis: 35%;
}

.col1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.col2 {
    flex-basis: 60%;
    color: #fff;
}

.col2 a {
    color: #F7B787;
}

.col2 li:nth-child(3),

/* Targeting the third list item */

.col2 li:nth-child(4) {
    /* Targeting the fourth list item */
    color: white;
}

.col3 {
    height: 60px;
}

.qwert {
    font-size: 80px;
    color: white;
}

.col2 li {
    color: white;
    margin: 10px 0;
    text-decoration: none;
}

#skills {
    padding: 30px 0;
}

.skillslist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skillslist div {
    background: #527853;
    padding: 40px;
    font-size: 13px;
    border-radius: 10px;
    border-color: #e3874f;
    border: 1px;
    transition: background 0.5s, transform 0.5s;
}

.skillslist div:hover {
    background: #e3874f;
    transform: translateY(-10px);
}

#projects {
    padding: 50px 0;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid black;
    padding: 14px 50px;
    border-radius: 6px;
    color: #000000;
    text-decoration: none;
    transition: background 0.5s;
}

.btn:hover {
    background: #ababab;
}

.contactl {
    flex-basis: 35%;
}

.contactr {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.contactl p {
    margin-top: 30px;
    font-size: 20px;
    color: #000000;
}

.contactr form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: #000000;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color: #0d3d17;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/blackwp.jpg);
    }
    .headtext {
        margin-top: 100%;
        font-size: 16px;
    }
    .headtext h1 {
        font-size: 30px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
}

.logo {
    position: relative;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}


/* card */

.thecard {
    perspective: 1000px;
    width: 500px;
    height: 260px;
    position: absolute;
    top: 50%;
    Right: 140px;
    transform: translateY(-50%);
}

.thefront,
.theback {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.thefront {
    background-color: #3498db;
    color: white;
}

.theback {
    background-color: #2ecc71;
    color: white;
    transform: rotateY(180deg);
}

.thecard:hover .thefront {
    transform: rotateY(180deg);
}

.thecard:hover .theback {
    transform: rotateY(0deg);
}

.col1 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.col1 img {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
}

.col1:hover img {
    transform: scale(1.2);
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #2ecc71;
    border-radius: 8px;
    font-size: 19px;
    color: #0d3d17;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    box-shadow: 0 0 10px rgba(0, 171, 240, 0);
    margin-top: 3%;
}

.btn-box a:hover {
    color: black;
    background-color: #000000;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #e3874f;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.image-container {
    position: absolute;
    top: 65px;
    right: 100px;
    width: 400px;
    height: 100%px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

nav ul li:nth-last-child(2) {
    margin-right: 20px;
}

nav ul li:nth-last-child(2) a {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav ul li:nth-last-child(2) a::after {
    content: '';
    bottom: -6px;
    left: 0;
    position: absolute;
    background: #2ecc71;
    width: 0;
    height: 2px;
    transition: 0.5s;
}

nav ul li:nth-last-child(2) a:hover {
    color: #2ecc71;
}

nav ul li:nth-last-child(2) a:hover::after {
    width: 100%;
}

.log {
    color: #126334;
}

#login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #27ae60;
}

.logLbl {
    text-align: center;
}

.signinLbl {
    text-decoration: none;
    margin-right: 70px;
}

.forgotLbl {
    text-decoration: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container textarea {
    width: 100%;
    width: 500px;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}


/* Appoint */

.form-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.container h2 {
    text-align: center;
}